doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    script(defer, src="https://use.fontawesome.com/releases/v5.0.12/js/all.js" integrity="sha384-Voup2lBiiyZYkRto2XWqbzxHXwzcm4A5RfdfG6466bu5LqjwwrjXCMBQBLMWh7qR" crossorigin="anonymous")
    link(rel="stylesheet" href="/css/success.css")
    title Login
  body
    // Navigator
    header.header
      nav.main-nav
        .logo
          a(href="/index")
            img#logo(src="/img/index/logo.png" alt="")
        .nav-bar
          ul
            // <li><a href="#" class="nav-btn" id="register">회원가입</a></li>
            // <li><a href="#" class="nav-btn" id="start">시작하기</a></li>
            
    .main-grid
      .main-container
        h1 완료!
        h3 조금만 기다려 주세요.
        h3 곧 코디를 메일로 보내드리겠습니다.
      // end of main container
    // Footer
    footer#main-footer
      p 질문이 있으신가요? 고객 센터에 문의하세요.
      p.logo  Avagai © 2018
